.exchanges-section {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 96px 0 78px;

    h6 {
        margin: 0;
        color: var(--neutral-colors-headings-black, #5D5A88);
        text-align: center;
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    .exchanges-container {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
        }
    }
}


.section-title {
    color: var(--neutral-colors-headings-black, #5D5A88);
    text-align: center;
    font-family: DM Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    margin: 108px 0 98px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 207px;

    .card-container {
        display: flex;
        gap: 60px;
        justify-content: center;
    }

    .offer-card {
        width: calc((624 / 1440) * 100%);
        border-radius: 24px;
        background: var(--neutral-colors-color-900, #8D8BA7);
        padding: 80px 45px 56px;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

        h4 {
            color: var(--neutral-colors-white, #FFF);
            font-family: DM Sans;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            margin: 0 0 24px;
        }

        ul {
            // list-style:none;
            margin-bottom: 40px;
        }

        li {
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            color: var(--neutral-colors-white, #FFF);
            text-decoration: none;
            margin-bottom: 16px;
        }

        a {
            padding: 24px 28px;
            border-radius: 40px;
            text-decoration: none;
            box-sizing: border-box;
            display: inline-block;
            background: var(--neutral-colors-white, #FFF);
            color: var(--neutral-colors-headings-black, #5D5A88);
            text-align: center;
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;

            &:hover {
                background-color: #f5f5f5;
                color: #5D5A88;
            }

            &:active {
                background-color: #e0e0e0;
                color: #5D5A88;
            }
        }
        .a-container {
            padding: initial;
            border-radius: initial;
            text-decoration: initial;
            box-sizing: initial;
            display: initial;
            background: initial;
            color: initial;
            text-align: initial;
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            color: beige;

            &:hover {
                background-color: initial;
                color: blue;
            }

            &:active {
                background-color: initial;
                color:blue;
            }
    
        }
    }

    .planning-card {
        width: calc((502 / 1440) * 100%);
        padding: 80px 40px 56px;
        border-radius: 24px;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

        h4 {
            color: var(--neutral-colors-headings-black, #5D5A88);
            font-family: DM Sans;
            font-size: 43px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            margin: 0 0 10px;
        }

        p {
            color: var(--neutral-colors-text-gray, #9795B5);
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin: 0 0 26px;
        }

        li {
            color: var(--neutral-colors-headings-black, #5D5A88);
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 16px;
        }
    }

    .image-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: calc((1300 / 1440) * 100%);
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        max-width: 100%;
        margin: 10px auto 0;
        padding-bottom: 60px;
    
        img {
            border-radius: 8px;

        }
    
        p {
            color: var(--neutral-colors-text-gray, #9795B5);
            font-family: DM Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 200;
            line-height: 30px;
            text-align: center;
        }
    }    
    .p-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: calc((1700 / 1440) * 100%);
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        max-width: 100%;
        margin: 10px auto 0;
        padding-top: 10px;
    
            color: var(--neutral-colors-text-gray, #9795B5);
            font-family: DM Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin: 0 0 48px;
            text-align: center;
            margin-top: 8px;
    }    
}

.kubernetes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 96px;

    h3 {
        margin-bottom: 40px;
    }

    p {
        color: var(--neutral-colors-text-gray, #9795B5);
        font-family: DM Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        max-width: 800px;
    }
}



@media screen and (max-width: 768px) {
    .info-container {

        padding-bottom: 0px; 
        
        .card-container {
            flex-direction: column;
            align-items: center;
        }

        .offer-card,
        .planning-card {
            width: 90%;

            h4 {
                font-family: DM Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
            }

            ul {
                list-style: circle;
            }

            li {
                overflow: hidden;
                word-wrap: break-word;
                overflow-wrap: break-word;

            }

            a {
                display: block;
            }
        }

    }

    .section-title {
        font-family: DM Sans;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        margin: 0 0 16px;
    }
    .image-container {
        margin: 60px auto 0px;
        width: 100%;
        p {
            display: none;
        }
        img {
            display: none;
            width: 100%;
        }
    }

    .kubernetes-container {
        padding: 0 12px;

        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
}